* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HomePage */
.subtitle {
  font-style: italic;
  color: #555;
  margin-bottom: 2rem;
  font-weight: 400;
}

.card-container.homepage {
  gap: 20px;
}

.card.homepage {
  width: calc(100% / 3 - (60px / 3));
  background-color: rgb(246, 246, 246);
  color: black;
  text-align: center;
}

/* Movie Page */
.moviepage img {
  width: 50%;
  /* object-fit: cover; */
}
