* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HomePage */
.subtitle {
  font-style: italic;
  color: #555;
  margin-bottom: 2rem;
  font-weight: 400;
}

.card-container.homepage {
  gap: 20px;
}

.card.homepage {
  width: calc(100% / 3 - (60px / 3));
  background-color: rgb(246, 246, 246);
  color: black;
  text-align: center;
}

/* Movie Page */
.moviepage img {
  width: 50%;
  /* object-fit: cover; */
}

/* css per componente loader */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;

  display: flex;
  align-items: center;
  justify-content: center;

  .spinner-border {
    width: 200px;
    height: 200px;
    font-size: 2rem;
  }
}
